{% extends "base.html" %}

{% block content %}

    {% if perms.gamenews.add_post %}
        <a class="text-success m-0">ЕСТЬ РАЗРЕШЕНИЕ </a> <br>
    {% endif %}
    <br>

    <h1 >Games fpr Gamers </h1> <br>
    У нас вы найдете: <br>

        Актуальные новости: Свежие события из мира игровой индустрии – анонсы, трейлеры, обновления и многое другое. <br>
        Обзоры игр: Честные и детальные обзоры самых ожидаемых и популярных игр. <br>
        Мнения экспертов: Аналитика, тренды и эксклюзивные материалы от опытных геймеров и журналистов. <br>
        Анонсы релизов: Все о датах выхода игр, платформах и особенностях. <br>
        Акции и скидки: Информацию о выгодных предложениях в игровых магазинах. <br>
         <br>
        <h2>Games fpr Gamers </h2> – это место, где страсть к играм встречается с профессиональным подходом к подаче информации. Присоединяйтесь к нашему сообществу и будьте в курсе всего, что происходит в захватывающем мире видеоигр!  <br>

        

{% endblock content %}